{% extends "base.html" %}
{% block content %}

<div class="col-12 checkout-order" style="padding-top: 50px;">
  <h1 class="h3 mb-2 order-checkout-title">
    Checkout  
  </h1>
<div class="row">
  <div class="col-lg-7 order-1 order-lg-0 checkout-cart">
  <div class="checkout-cart-content full-width" style="background-color: #f8f8f8; padding-bottom: 150px;">
    <div class="cart-wrapper cart-side">
      <h5 class="mb-0 pl-1 pb-2" >Cart</h5> 
      <div class="cart-flip" style="margin-top: 25px; background-color: #fff;">
        {% for order_item in object.carts.all %}
        <div class="cart-item-wrapper media">
          <div class="media-image d-flex align-self-center">
              <img src="{{ MEDIA_URL }}{{ order_item.product.image.url }}" style="width: 65px; margin-right: 25px;" alt="">
          </div>
          <div class="cart-item media-body" style="display: flex;">
              <div class="cart-product-title" style="width: 300px;">
                <p>{{ order_item.product.title }}</p>
                <p>{{ order_item.product.desc|slice:"30" }}...</p>

              </div>
              <div class="cart-product-price" style="width: 50px; font-weight: bold;">
                <span>
                  {{ order_item.product.price }}
                  <span>₸</span>
                </span>
              </div>
              <div class="cart-btn btn">
                <a class="btn btn-danger" href="{% url 'core:delete-item' order_item.product.slug %}">Delete</a>
              </div>
          </div>
          </div>
        {% endfor %}


        <div class="text-left mt-1" style="padding-top: 25px; ">
          Total:
          <b class="total-sum">
            <span class="price--wrapper price--currency_KZT">{{ object.get_sum }}
              <span class="price--sign price--suffix">₸</span>
            </span>
          </b>
          <a class='btn btn-success' style="margin-left: 300px; " href='/pay/'>Pay visa</a>
          <a class='btn btn-danger' style="width: 72px;" href='/clear/'>Clear</a>
        </div> 
      </div>
      </div>
    </div>
  </div>
  <form class="col-lg-5 order-0 order-lg-1 checkout-form">
    <div class="row">
      <div class="col-12">
        <div class="form-group">
          <label for="contactPhone" class="font-weight-bold pb-1">
          Contact number
        </label> 
        <div>
          <div style="width: 15rem; display: inline-block; vertical-align: middle;">
            <div class="input-group">
              <div class="input-group-prepend">
                <span id="contact-phone-prefix" class="input-group-text">+7</span>
              </div> 
              <input id="contactPhone" name="contactPhone" type="text" placeholder="(707) 302-5594" data-vv-validate-on="input|blur" disabled="disabled" aria-describedby="contact-phone-prefix" class="form-control" aria-required="true" aria-invalid="false">
            </div>
          </div> 
        <!---->
      </div> 
      <!---->
    </div>
      </div>
    </div>
    <p class="lead mt-3 mb-2 mb-lg-0">Address</p>
    <div class="row">
      <div class="col-12">
        <div class="form-group">
          <label for="checkout_cityId" class="font-weight-bold pb-1">Town</label>
          <input id="ar_city" type="text" name="city" value="" class="form-control" style="width: 150px;">
        </div>
      </div>
    </div>    
    <div class="row">
      <div class="col-6 col-lg-4">
        <div class="form-group">
          <label class="font-weight-bold pb-1">Apartment</label> 
          <input id="ar_apartment" type="text" name="apartment" value="" class="form-control" style="width: 150px;">
          <!----> 
          <!----> 
          <!---->
        </div>
      </div> 
      <div class="col-6 col-lg-4">
        <div class="form-group">
          <label class="font-weight-bold pb-1">Floor</label> 
          <input id="ar_floor" type="text" name="floor" value="" class="form-control" style="width: 150px;"> 
          <!----> 
          <!----> 
          <!---->
        </div>
      </div> 
      <div class="col-6 col-lg-4">
        <div class="form-group">
          <label class="font-weight-bold pb-1">Intercom</label> 
          <input id="ar_doorphone" type="text" name="doorphone" value="" class="form-control" style="width: 150px;"> 
      <!----> 
      <!----> 
      <!---->
    </div>
  </div>
</div>
  </form>
</div>
</div>


          
{% endblock content %}